<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.app.mapper.ScoreScorerightMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.app.entity.ScoreScoreright" >
        <id column="SCRIGHT_ID" property="scrightId" jdbcType="INTEGER" />
        <result column="SCORE_ID" property="scoreId" jdbcType="VARCHAR" />
        <result column="CONTROL_TYPE" property="controlType" jdbcType="SMALLINT" />
        <result column="OBJECT_TYPE" property="objectType" jdbcType="SMALLINT" />
        <result column="OBJECT_ID" property="objectId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        SCRIGHT_ID, SCORE_ID, CONTROL_TYPE, OBJECT_TYPE, OBJECT_ID
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_score_scoreright
        where SCRIGHT_ID = #{scrightId,jdbcType=INTEGER}
    </select>
    
    <select id="selectByScoreId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_score_scoreright
        where SCORE_ID = #{scoreid,jdbcType=INTEGER}
    </select>
    
    <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.util.List" >
        select 
        <include refid="Base_Column_List" />
        from t_score_scoreright
        where OBJECT_ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
            #{item}  
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_score_scoreright
        where SCRIGHT_ID = #{scrightId,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteByScoreId" parameterType="java.lang.String" >
        delete from t_score_scoreright
        where SCORE_ID = #{scoreid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.app.entity.ScoreScoreright" >
        insert into t_score_scoreright (SCRIGHT_ID, SCORE_ID, CONTROL_TYPE, 
            OBJECT_TYPE, OBJECT_ID)
        values (#{scrightId,jdbcType=INTEGER}, #{scoreId,jdbcType=VARCHAR}, #{controlType,jdbcType=SMALLINT}, 
            #{objectType,jdbcType=SMALLINT}, #{objectId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.app.entity.ScoreScoreright" >
        insert into t_score_scoreright
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="scrightId != null" >
                SCRIGHT_ID,
            </if>
            <if test="scoreId != null" >
                SCORE_ID,
            </if>
            <if test="controlType != null" >
                CONTROL_TYPE,
            </if>
            <if test="objectType != null" >
                OBJECT_TYPE,
            </if>
            <if test="objectId != null" >
                OBJECT_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="scrightId != null" >
                #{scrightId,jdbcType=INTEGER},
            </if>
            <if test="scoreId != null" >
                #{scoreId,jdbcType=VARCHAR},
            </if>
            <if test="controlType != null" >
                #{controlType,jdbcType=SMALLINT},
            </if>
            <if test="objectType != null" >
                #{objectType,jdbcType=SMALLINT},
            </if>
            <if test="objectId != null" >
                #{objectId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.app.entity.ScoreScoreright" >
        update t_score_scoreright
        <set >
            <if test="scoreId != null" >
                SCORE_ID = #{scoreId,jdbcType=VARCHAR},
            </if>
            <if test="controlType != null" >
                CONTROL_TYPE = #{controlType,jdbcType=SMALLINT},
            </if>
            <if test="objectType != null" >
                OBJECT_TYPE = #{objectType,jdbcType=SMALLINT},
            </if>
            <if test="objectId != null" >
                OBJECT_ID = #{objectId,jdbcType=VARCHAR},
            </if>
        </set>
        where SCRIGHT_ID = #{scrightId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.app.entity.ScoreScoreright" >
        update t_score_scoreright
        set SCORE_ID = #{scoreId,jdbcType=VARCHAR},
            CONTROL_TYPE = #{controlType,jdbcType=SMALLINT},
            OBJECT_TYPE = #{objectType,jdbcType=SMALLINT},
            OBJECT_ID = #{objectId,jdbcType=VARCHAR}
        where SCRIGHT_ID = #{scrightId,jdbcType=INTEGER}
    </update>
</mapper>