<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.BusMemberMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.BusMember" >
        <id column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
        <result column="ID_CARD_TYPE" property="idCardType" jdbcType="SMALLINT" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="AGE" property="age" jdbcType="SMALLINT" />
        <result column="SEX" property="sex" jdbcType="SMALLINT" />
        <result column="MARITAL_STATUS" property="maritalStatus" jdbcType="SMALLINT" />
        <result column="EDUCATION_LEVEL" property="educationLevel" jdbcType="SMALLINT" />
        <result column="BANK_PHONE" property="bankPhone" jdbcType="VARCHAR" />
        <result column="BANK" property="bank" jdbcType="VARCHAR" />
        <result column="BANK_CARD_NO" property="bankCardNo" jdbcType="VARCHAR" />
        <result column="DUTY" property="duty" jdbcType="VARCHAR" />
        <result column="NONFARM_COM_NAME" property="nonfarmComName" jdbcType="VARCHAR" />
        <result column="NONFARM_COM_ADDRESS" property="nonfarmComAddress" jdbcType="VARCHAR" />
        <result column="NONFARM_COM_PHONE" property="nonfarmComPhone" jdbcType="VARCHAR" />
        <result column="IS_DELETED" property="isDeleted" jdbcType="TINYINT" />
        <result column="CRE_OPER_ID" property="creOperId" jdbcType="VARCHAR" />
        <result column="CRE_OPER_NAME" property="creOperName" jdbcType="VARCHAR" />
        <result column="CRE_ORG_ID" property="creOrgId" jdbcType="VARCHAR" />
        <result column="CRE_DATE" property="creDate" jdbcType="TIMESTAMP" />
        <result column="UPD_OPER_ID" property="updOperId" jdbcType="VARCHAR" />
        <result column="UPD_OPER_NAME" property="updOperName" jdbcType="VARCHAR" />
        <result column="UPD_ORG_ID" property="updOrgId" jdbcType="VARCHAR" />
        <result column="UPD_DATE" property="updDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        MEMBER_ID, ID_CARD_TYPE, ADDRESS, ID_CARD, NAME, AGE, SEX, MARITAL_STATUS, EDUCATION_LEVEL, 
        BANK_PHONE, BANK, BANK_CARD_NO, DUTY, NONFARM_COM_NAME, NONFARM_COM_ADDRESS, NONFARM_COM_PHONE, 
        IS_DELETED, CRE_OPER_ID, CRE_OPER_NAME, CRE_ORG_ID, CRE_DATE, UPD_OPER_ID, UPD_OPER_NAME, 
        UPD_ORG_ID, UPD_DATE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_member
        where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_bus_member
        where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.BusMember" >
        insert into t_bus_member (MEMBER_ID, ID_CARD_TYPE, ADDRESS, 
            ID_CARD, NAME, AGE, 
            SEX, MARITAL_STATUS, EDUCATION_LEVEL, 
            BANK_PHONE, BANK, BANK_CARD_NO, 
            DUTY, NONFARM_COM_NAME, NONFARM_COM_ADDRESS, 
            NONFARM_COM_PHONE, IS_DELETED, CRE_OPER_ID, 
            CRE_OPER_NAME, CRE_ORG_ID, CRE_DATE, 
            UPD_OPER_ID, UPD_OPER_NAME, UPD_ORG_ID, 
            UPD_DATE)
        values (#{memberId,jdbcType=VARCHAR}, #{idCardType,jdbcType=SMALLINT}, #{address,jdbcType=VARCHAR}, 
            #{idCard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=SMALLINT}, 
            #{sex,jdbcType=SMALLINT}, #{maritalStatus,jdbcType=SMALLINT}, #{educationLevel,jdbcType=SMALLINT}, 
            #{bankPhone,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, #{bankCardNo,jdbcType=VARCHAR}, 
            #{duty,jdbcType=VARCHAR}, #{nonfarmComName,jdbcType=VARCHAR}, #{nonfarmComAddress,jdbcType=VARCHAR}, 
            #{nonfarmComPhone,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{creOperId,jdbcType=VARCHAR}, 
            #{creOperName,jdbcType=VARCHAR}, #{creOrgId,jdbcType=VARCHAR}, #{creDate,jdbcType=TIMESTAMP}, 
            #{updOperId,jdbcType=VARCHAR}, #{updOperName,jdbcType=VARCHAR}, #{updOrgId,jdbcType=VARCHAR}, 
            #{updDate,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.BusMember" >
        insert into t_bus_member
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="memberId != null" >
                MEMBER_ID,
            </if>
            <if test="idCardType != null" >
                ID_CARD_TYPE,
            </if>
            <if test="address != null" >
                ADDRESS,
            </if>
            <if test="idCard != null" >
                ID_CARD,
            </if>
            <if test="name != null" >
                NAME,
            </if>
            <if test="age != null" >
                AGE,
            </if>
            <if test="sex != null" >
                SEX,
            </if>
            <if test="maritalStatus != null" >
                MARITAL_STATUS,
            </if>
            <if test="educationLevel != null" >
                EDUCATION_LEVEL,
            </if>
            <if test="bankPhone != null" >
                BANK_PHONE,
            </if>
            <if test="bank != null" >
                BANK,
            </if>
            <if test="bankCardNo != null" >
                BANK_CARD_NO,
            </if>
            <if test="duty != null" >
                DUTY,
            </if>
            <if test="nonfarmComName != null" >
                NONFARM_COM_NAME,
            </if>
            <if test="nonfarmComAddress != null" >
                NONFARM_COM_ADDRESS,
            </if>
            <if test="nonfarmComPhone != null" >
                NONFARM_COM_PHONE,
            </if>
            <if test="isDeleted != null" >
                IS_DELETED,
            </if>
            <if test="creOperId != null" >
                CRE_OPER_ID,
            </if>
            <if test="creOperName != null" >
                CRE_OPER_NAME,
            </if>
            <if test="creOrgId != null" >
                CRE_ORG_ID,
            </if>
            <if test="creDate != null" >
                CRE_DATE,
            </if>
            <if test="updOperId != null" >
                UPD_OPER_ID,
            </if>
            <if test="updOperName != null" >
                UPD_OPER_NAME,
            </if>
            <if test="updOrgId != null" >
                UPD_ORG_ID,
            </if>
            <if test="updDate != null" >
                UPD_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="memberId != null" >
                #{memberId,jdbcType=VARCHAR},
            </if>
            <if test="idCardType != null" >
                #{idCardType,jdbcType=SMALLINT},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null" >
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=SMALLINT},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=SMALLINT},
            </if>
            <if test="maritalStatus != null" >
                #{maritalStatus,jdbcType=SMALLINT},
            </if>
            <if test="educationLevel != null" >
                #{educationLevel,jdbcType=SMALLINT},
            </if>
            <if test="bankPhone != null" >
                #{bankPhone,jdbcType=VARCHAR},
            </if>
            <if test="bank != null" >
                #{bank,jdbcType=VARCHAR},
            </if>
            <if test="bankCardNo != null" >
                #{bankCardNo,jdbcType=VARCHAR},
            </if>
            <if test="duty != null" >
                #{duty,jdbcType=VARCHAR},
            </if>
            <if test="nonfarmComName != null" >
                #{nonfarmComName,jdbcType=VARCHAR},
            </if>
            <if test="nonfarmComAddress != null" >
                #{nonfarmComAddress,jdbcType=VARCHAR},
            </if>
            <if test="nonfarmComPhone != null" >
                #{nonfarmComPhone,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="creOperId != null" >
                #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creOperName != null" >
                #{creOperName,jdbcType=VARCHAR},
            </if>
            <if test="creOrgId != null" >
                #{creOrgId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null" >
                #{creDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updOperId != null" >
                #{updOperId,jdbcType=VARCHAR},
            </if>
            <if test="updOperName != null" >
                #{updOperName,jdbcType=VARCHAR},
            </if>
            <if test="updOrgId != null" >
                #{updOrgId,jdbcType=VARCHAR},
            </if>
            <if test="updDate != null" >
                #{updDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.BusMember" >
        update t_bus_member
        <set >
            <if test="idCardType != null" >
                ID_CARD_TYPE = #{idCardType,jdbcType=SMALLINT},
            </if>
            <if test="address != null" >
                ADDRESS = #{address,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null" >
                ID_CARD = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                AGE = #{age,jdbcType=SMALLINT},
            </if>
            <if test="sex != null" >
                SEX = #{sex,jdbcType=SMALLINT},
            </if>
            <if test="maritalStatus != null" >
                MARITAL_STATUS = #{maritalStatus,jdbcType=SMALLINT},
            </if>
            <if test="educationLevel != null" >
                EDUCATION_LEVEL = #{educationLevel,jdbcType=SMALLINT},
            </if>
            <if test="bankPhone != null" >
                BANK_PHONE = #{bankPhone,jdbcType=VARCHAR},
            </if>
            <if test="bank != null" >
                BANK = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="bankCardNo != null" >
                BANK_CARD_NO = #{bankCardNo,jdbcType=VARCHAR},
            </if>
            <if test="duty != null" >
                DUTY = #{duty,jdbcType=VARCHAR},
            </if>
            <if test="nonfarmComName != null" >
                NONFARM_COM_NAME = #{nonfarmComName,jdbcType=VARCHAR},
            </if>
            <if test="nonfarmComAddress != null" >
                NONFARM_COM_ADDRESS = #{nonfarmComAddress,jdbcType=VARCHAR},
            </if>
            <if test="nonfarmComPhone != null" >
                NONFARM_COM_PHONE = #{nonfarmComPhone,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="creOperId != null" >
                CRE_OPER_ID = #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creOperName != null" >
                CRE_OPER_NAME = #{creOperName,jdbcType=VARCHAR},
            </if>
            <if test="creOrgId != null" >
                CRE_ORG_ID = #{creOrgId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null" >
                CRE_DATE = #{creDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updOperId != null" >
                UPD_OPER_ID = #{updOperId,jdbcType=VARCHAR},
            </if>
            <if test="updOperName != null" >
                UPD_OPER_NAME = #{updOperName,jdbcType=VARCHAR},
            </if>
            <if test="updOrgId != null" >
                UPD_ORG_ID = #{updOrgId,jdbcType=VARCHAR},
            </if>
            <if test="updDate != null" >
                UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.BusMember" >
        update t_bus_member
        set ID_CARD_TYPE = #{idCardType,jdbcType=SMALLINT},
            ADDRESS = #{address,jdbcType=VARCHAR},
            ID_CARD = #{idCard,jdbcType=VARCHAR},
            NAME = #{name,jdbcType=VARCHAR},
            AGE = #{age,jdbcType=SMALLINT},
            SEX = #{sex,jdbcType=SMALLINT},
            MARITAL_STATUS = #{maritalStatus,jdbcType=SMALLINT},
            EDUCATION_LEVEL = #{educationLevel,jdbcType=SMALLINT},
            BANK_PHONE = #{bankPhone,jdbcType=VARCHAR},
            BANK = #{bank,jdbcType=VARCHAR},
            BANK_CARD_NO = #{bankCardNo,jdbcType=VARCHAR},
            DUTY = #{duty,jdbcType=VARCHAR},
            NONFARM_COM_NAME = #{nonfarmComName,jdbcType=VARCHAR},
            NONFARM_COM_ADDRESS = #{nonfarmComAddress,jdbcType=VARCHAR},
            NONFARM_COM_PHONE = #{nonfarmComPhone,jdbcType=VARCHAR},
            IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            CRE_OPER_ID = #{creOperId,jdbcType=VARCHAR},
            CRE_OPER_NAME = #{creOperName,jdbcType=VARCHAR},
            CRE_ORG_ID = #{creOrgId,jdbcType=VARCHAR},
            CRE_DATE = #{creDate,jdbcType=TIMESTAMP},
            UPD_OPER_ID = #{updOperId,jdbcType=VARCHAR},
            UPD_OPER_NAME = #{updOperName,jdbcType=VARCHAR},
            UPD_ORG_ID = #{updOrgId,jdbcType=VARCHAR},
            UPD_DATE = #{updDate,jdbcType=TIMESTAMP}
        where MEMBER_ID = #{memberId,jdbcType=VARCHAR}
    </update>
    
    <!-- 手写 -->
    <select id="selectByIdCard" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_member
        where ID_CARD = #{idCard,jdbcType=VARCHAR} and IS_DELETED = 0
    </select>

	<select id="selectByPage" resultMap="BaseResultMap" parameterType="com.nongyeos.loan.admin.entity.BusMember" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_member
        <where>
        	IS_DELETED != 1 
        	<if test="idCard != null" >
               		and ID_CARD like "%"#{idCard,jdbcType=VARCHAR}"%" 
	        </if>
	        <if test="name != null" >
	                and NAME like "%"#{name,jdbcType=VARCHAR}"%" 
	        </if>
	        <if test="bankPhone != null" >
	                and BANK_PHONE like "%"#{bankPhone,jdbcType=VARCHAR}"%" 
	        </if>
        </where> 
        order by CRE_DATE DESC 
    </select>
    
	<select id="selectTotalNum" resultType="java.lang.Integer" parameterType="com.nongyeos.loan.admin.entity.BusMember" >
        select count(*) from t_bus_member
        <where>
        	IS_DELETED != 1 
        	<if test="idCard != null" >
               		and ID_CARD like "%"#{idCard,jdbcType=VARCHAR}"%" 
	        </if>
	        <if test="name != null" >
	                and NAME like "%"#{name,jdbcType=VARCHAR}"%" 
	        </if>
	        <if test="bankPhone != null" >
	                and BANK_PHONE like "%"#{bankPhone,jdbcType=VARCHAR}"%" 
	        </if>
        </where> 
        order by CRE_DATE DESC
    </select>
    
</mapper>