<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.BusOtherContactMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.BusOtherContact" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="into_piece_id" property="intoPieceId" jdbcType="VARCHAR" />
        <result column="relation" property="relation" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="IS_DELETED" property="isDeleted" jdbcType="TINYINT" />
        <result column="CRE_OPER_ID" property="creOperId" jdbcType="VARCHAR" />
        <result column="CRE_OPER_NAME" property="creOperName" jdbcType="VARCHAR" />
        <result column="CRE_ORG_ID" property="creOrgId" jdbcType="VARCHAR" />
        <result column="CRE_DATE" property="creDate" jdbcType="TIMESTAMP" />
        <result column="UPD_OPER_ID" property="updOperId" jdbcType="VARCHAR" />
        <result column="UPD_OPER_NAME" property="updOperName" jdbcType="VARCHAR" />
        <result column="UPD_ORG_ID" property="updOrgId" jdbcType="VARCHAR" />
        <result column="UPD_DATE" property="updDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, into_piece_id, relation, name, phone, IS_DELETED, CRE_OPER_ID, CRE_OPER_NAME, 
        CRE_ORG_ID, CRE_DATE, UPD_OPER_ID, UPD_OPER_NAME, UPD_ORG_ID, UPD_DATE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_othercontact
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_bus_othercontact
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.BusOtherContact" >
        insert into t_bus_othercontact (id, into_piece_id, relation, 
            name, phone, IS_DELETED, 
            CRE_OPER_ID, CRE_OPER_NAME, CRE_ORG_ID, 
            CRE_DATE, UPD_OPER_ID, UPD_OPER_NAME, 
            UPD_ORG_ID, UPD_DATE)
        values (#{id,jdbcType=VARCHAR}, #{intoPieceId,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, 
            #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, 
            #{creOperId,jdbcType=VARCHAR}, #{creOperName,jdbcType=VARCHAR}, #{creOrgId,jdbcType=VARCHAR}, 
            #{creDate,jdbcType=TIMESTAMP}, #{updOperId,jdbcType=VARCHAR}, #{updOperName,jdbcType=VARCHAR}, 
            #{updOrgId,jdbcType=VARCHAR}, #{updDate,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.BusOtherContact" >
        insert into t_bus_othercontact
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="intoPieceId != null" >
                into_piece_id,
            </if>
            <if test="relation != null" >
                relation,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="isDeleted != null" >
                IS_DELETED,
            </if>
            <if test="creOperId != null" >
                CRE_OPER_ID,
            </if>
            <if test="creOperName != null" >
                CRE_OPER_NAME,
            </if>
            <if test="creOrgId != null" >
                CRE_ORG_ID,
            </if>
            <if test="creDate != null" >
                CRE_DATE,
            </if>
            <if test="updOperId != null" >
                UPD_OPER_ID,
            </if>
            <if test="updOperName != null" >
                UPD_OPER_NAME,
            </if>
            <if test="updOrgId != null" >
                UPD_ORG_ID,
            </if>
            <if test="updDate != null" >
                UPD_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="intoPieceId != null" >
                #{intoPieceId,jdbcType=VARCHAR},
            </if>
            <if test="relation != null" >
                #{relation,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="creOperId != null" >
                #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creOperName != null" >
                #{creOperName,jdbcType=VARCHAR},
            </if>
            <if test="creOrgId != null" >
                #{creOrgId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null" >
                #{creDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updOperId != null" >
                #{updOperId,jdbcType=VARCHAR},
            </if>
            <if test="updOperName != null" >
                #{updOperName,jdbcType=VARCHAR},
            </if>
            <if test="updOrgId != null" >
                #{updOrgId,jdbcType=VARCHAR},
            </if>
            <if test="updDate != null" >
                #{updDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.BusOtherContact" >
        update t_bus_othercontact
        <set >
            <if test="intoPieceId != null" >
                into_piece_id = #{intoPieceId,jdbcType=VARCHAR},
            </if>
            <if test="relation != null" >
                relation = #{relation,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="creOperId != null" >
                CRE_OPER_ID = #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creOperName != null" >
                CRE_OPER_NAME = #{creOperName,jdbcType=VARCHAR},
            </if>
            <if test="creOrgId != null" >
                CRE_ORG_ID = #{creOrgId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null" >
                CRE_DATE = #{creDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updOperId != null" >
                UPD_OPER_ID = #{updOperId,jdbcType=VARCHAR},
            </if>
            <if test="updOperName != null" >
                UPD_OPER_NAME = #{updOperName,jdbcType=VARCHAR},
            </if>
            <if test="updOrgId != null" >
                UPD_ORG_ID = #{updOrgId,jdbcType=VARCHAR},
            </if>
            <if test="updDate != null" >
                UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.BusOtherContact" >
        update t_bus_othercontact
        set into_piece_id = #{intoPieceId,jdbcType=VARCHAR},
            relation = #{relation,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            CRE_OPER_ID = #{creOperId,jdbcType=VARCHAR},
            CRE_OPER_NAME = #{creOperName,jdbcType=VARCHAR},
            CRE_ORG_ID = #{creOrgId,jdbcType=VARCHAR},
            CRE_DATE = #{creDate,jdbcType=TIMESTAMP},
            UPD_OPER_ID = #{updOperId,jdbcType=VARCHAR},
            UPD_OPER_NAME = #{updOperName,jdbcType=VARCHAR},
            UPD_ORG_ID = #{updOrgId,jdbcType=VARCHAR},
            UPD_DATE = #{updDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <select id="selectByIpId" resultMap="BaseResultMap" parameterType="com.nongyeos.loan.admin.entity.BusOtherContact" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_othercontact
        where into_piece_id = #{intoPieceId,jdbcType=VARCHAR} and IS_DELETED = #{isDeleted,jdbcType=TINYINT} order by CRE_DATE asc
    </select>
    <select id="selectCountByIpId" resultType="java.lang.Integer" parameterType="com.nongyeos.loan.admin.entity.BusOtherContact" >
        select 
        count(id)
        from t_bus_othercontact
        where into_piece_id = #{intoPieceId,jdbcType=VARCHAR} and IS_DELETED = #{isDeleted,jdbcType=TINYINT}
    </select>
</mapper>