<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.BusProductOrgMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.BusProductOrg" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
        <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, PRODUCT_ID, ORG_ID
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_productorg
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="selectOrgByProductId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_productorg
        where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_bus_productorg
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

	<!-- 根据产品ID删除 -->
    <delete id="deleteOrgByProductId" parameterType="java.lang.String" >
        delete from t_bus_productorg
        where PRODUCT_ID = #{productId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.BusProductOrg" >
        insert into t_bus_productorg (ID, PRODUCT_ID, ORG_ID
            )
        values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.BusProductOrg" >
        insert into t_bus_productorg
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="productId != null" >
                PRODUCT_ID,
            </if>
            <if test="orgId != null" >
                ORG_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="productId != null" >
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                #{orgId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.BusProductOrg" >
        update t_bus_productorg
        <set >
            <if test="productId != null" >
                PRODUCT_ID = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                ORG_ID = #{orgId,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.BusProductOrg" >
        update t_bus_productorg
        set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
            ORG_ID = #{orgId,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>