<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.BusSmsChannelMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.BusSmsChannel" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
        <result column="use" property="use" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, channel_name, `use`
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_bus_smschannel
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_bus_smschannel
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.BusSmsChannel" >
        insert into t_bus_smschannel (id, channel_name, use
            )
        values (#{id,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{use,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.BusSmsChannel" >
        insert into t_bus_smschannel
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="channelName != null" >
                channel_name,
            </if>
            <if test="use != null" >
                `use`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="channelName != null" >
                #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="use != null" >
                #{use,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.BusSmsChannel" >
        update t_bus_smschannel
        <set >
            <if test="channelName != null" >
                channel_name = #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="use != null" >
                `use` = #{use,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.BusSmsChannel" >
        update t_bus_smschannel
        set channel_name = #{channelName,jdbcType=VARCHAR},
            `use` = #{use,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <select id="selectUsedChannel" resultMap="BaseResultMap"  >
        select 
        <include refid="Base_Column_List" />
        from t_bus_smschannel
        where `use` = 1
    </select>
</mapper>