<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.SysParaMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.SysPara" >
        <id column="PARA_ID" property="paraId" jdbcType="INTEGER" />
        <result column="PGROUP_ID" property="pgroupId" jdbcType="INTEGER" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="VALUE" property="value" jdbcType="VARCHAR" />
        <result column="DESCR" property="descr" jdbcType="VARCHAR" />
        <result column="SEQNO" property="seqno" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        PARA_ID, PGROUP_ID, NAME, VALUE, DESCR, SEQNO
    </sql>

    <select id="queryParaByGroupIdAndVal" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_para
        where PGROUP_ID = #{pgroupId} and VALUE = #{value}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_para
        where PARA_ID = #{paraId,jdbcType=INTEGER}
    </select>
    
    <select id="selectByPGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from t_sys_para
	    where PGROUP_ID = #{pgroupId,jdbcType=INTEGER} order by SEQNO ASC
	</select>
	
	<select id="count" resultType="Integer">
  	   	select count(PARA_ID) from t_sys_para
  	   	where PGROUP_ID = #{pgroupId,jdbcType=INTEGER}
  	</select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_sys_para
        where PARA_ID = #{paraId,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteParaGroupId" parameterType="java.lang.Integer" >
        delete from t_sys_para
        where PGROUP_ID = #{paraGroupId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.SysPara" >
        insert into t_sys_para (PARA_ID, PGROUP_ID, NAME, 
            VALUE, DESCR, SEQNO
            )
        values (#{paraId,jdbcType=INTEGER}, #{pgroupId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
            #{value,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{seqno,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.SysPara" >
        insert into t_sys_para
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="paraId != null" >
                PARA_ID,
            </if>
            <if test="pgroupId != null" >
                PGROUP_ID,
            </if>
            <if test="name != null" >
                NAME,
            </if>
            <if test="value != null" >
                VALUE,
            </if>
            <if test="descr != null" >
                DESCR,
            </if>
            <if test="seqno != null" >
                SEQNO,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="paraId != null" >
                #{paraId,jdbcType=INTEGER},
            </if>
            <if test="pgroupId != null" >
                #{pgroupId,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="descr != null" >
                #{descr,jdbcType=VARCHAR},
            </if>
            <if test="seqno != null" >
                #{seqno,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.SysPara" >
        update t_sys_para
        <set >
            <if test="pgroupId != null" >
                PGROUP_ID = #{pgroupId,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                VALUE = #{value,jdbcType=VARCHAR},
            </if>
            <if test="descr != null" >
                DESCR = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="seqno != null" >
                SEQNO = #{seqno,jdbcType=INTEGER},
            </if>
        </set>
        where PARA_ID = #{paraId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.SysPara" >
        update t_sys_para
        set PGROUP_ID = #{pgroupId,jdbcType=INTEGER},
            NAME = #{name,jdbcType=VARCHAR},
            VALUE = #{value,jdbcType=VARCHAR},
            DESCR = #{descr,jdbcType=VARCHAR},
            SEQNO = #{seqno,jdbcType=INTEGER}
        where PARA_ID = #{paraId,jdbcType=INTEGER}
    </update>
    
    <select id="selectList" resultMap="BaseResultMap">
     	select 
        <include refid="Base_Column_List" />
        from t_sys_para
        where PGROUP_ID = #{pgroupId,jdbcType=INTEGER} order by SEQNO ASC
    </select>
    <select id="existedSameName" resultMap="BaseResultMap">
     	select 
        <include refid="Base_Column_List" />
        from t_sys_para
        where NAME = #{name,jdbcType=VARCHAR}
    </select>
    <select id="existedSameDesc" resultMap="BaseResultMap">
     	select 
        <include refid="Base_Column_List" />
        from t_sys_para
        where DESCR = #{descr,jdbcType=VARCHAR}
    </select>
</mapper>