<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.SysPersonMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.SysPerson" >
        <id column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
        <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
        <result column="PARENT_ORG_IDS" property="parentOrgIds" jdbcType="VARCHAR" />
        <result column="NAME_CN" property="nameCn" jdbcType="VARCHAR" />
        <result column="NAME_EN" property="nameEn" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_NO" property="employeeNo" jdbcType="VARCHAR" />
        <result column="ROLE_TYPE" property="roleType" jdbcType="SMALLINT" />
        <result column="IS_DEFAULT" property="isDefault" jdbcType="TINYINT" />
        <result column="FILEPATH" property="filePath" jdbcType="VARCHAR" />
        <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="FAX" property="fax" jdbcType="VARCHAR" />
        <result column="SEQNO" property="seqno" jdbcType="INTEGER" />
        <result column="STATUS" property="status" jdbcType="TINYINT" />
        <result column="IS_DELETED" property="isDeleted" jdbcType="TINYINT" />
        <result column="CRE_OPER_ID" property="creOperId" jdbcType="VARCHAR" />
        <result column="CRE_OPER_NAME" property="creOperName" jdbcType="VARCHAR" />
        <result column="CRE_ORG_ID" property="creOrgId" jdbcType="VARCHAR" />
        <result column="CRE_DATE" property="creDate" jdbcType="TIMESTAMP" />
        <result column="UPD_OPER_ID" property="updOperId" jdbcType="VARCHAR" />
        <result column="UPD_OPER_NAME" property="updOperName" jdbcType="VARCHAR" />
        <result column="UPD_ORG_ID" property="updOrgId" jdbcType="VARCHAR" />
        <result column="UPD_DATE" property="updDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        PERSON_ID, USER_ID, ORG_ID, PARENT_ORG_IDS, NAME_CN, NAME_EN, EMPLOYEE_NO, IS_DEFAULT, 
        ROLE_TYPE, FILEPATH, CARD_NO, PHONE, MOBILE, EMAIL, FAX, SEQNO, STATUS, IS_DELETED, CRE_OPER_ID, 
        CRE_OPER_NAME, CRE_ORG_ID, CRE_DATE, UPD_OPER_ID, UPD_OPER_NAME, UPD_ORG_ID, UPD_DATE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_person
        where PERSON_ID = #{personId,jdbcType=VARCHAR}
    </select>

	<select id="selectByUserIdAndIsdefault" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from t_sys_person
	    where USER_ID = #{userId,jdbcType=VARCHAR}
	    and IS_DEFAULT = 1
	    order by SEQNO ASC
	</select>
	
	<resultMap id="NameAndOrg" type="hashmap" >
        <id column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
        <result column="NAME_CN" property="nameCn" jdbcType="VARCHAR" />
        <result column="FULL_CNAME" property="orgCname" jdbcType="VARCHAR" />
    </resultMap>
	
	<!-- 根据用户id查询人员姓名及人员所在部门名称 -->
	<select id="selectNameAndOrgByUserId" parameterType="java.lang.String" resultMap="NameAndOrg">
	    select 
	    p.PERSON_ID,p.NAME_CN,o.FULL_CNAME
	    from t_sys_person p left join t_sys_org o on p.ORG_ID=o.ORG_ID
	    where p.USER_ID = #{userId,jdbcType=VARCHAR}
	    and p.IS_DEFAULT = 1
	    order by p.SEQNO ASC limit 0,1
	</select>
	
	<select id="selectByOrgId" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from t_sys_person
	    where ORG_ID = #{orgId,jdbcType=VARCHAR}
	    order by SEQNO ASC
	</select>
	<select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from t_sys_person
	    where NAME_CN = #{name,jdbcType=VARCHAR}
	    order by SEQNO ASC limit 0,1
	</select>
	
	<select id="count" resultType="Integer">
  	   	select count(PERSON_ID) from t_sys_person
  	   	where ORG_ID = #{orgId,jdbcType=VARCHAR}
  	</select>
  
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_sys_person
        where PERSON_ID = #{personId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.SysPerson" >
        insert into t_sys_person (PERSON_ID, USER_ID, ORG_ID, 
            PARENT_ORG_IDS, NAME_CN, NAME_EN, 
            EMPLOYEE_NO, IS_DEFAULT, ROLE_TYPE,
            FILEPATH, CARD_NO, PHONE, MOBILE, 
            EMAIL, FAX, SEQNO, 
            STATUS, IS_DELETED, CRE_OPER_ID, 
            CRE_OPER_NAME, CRE_ORG_ID, CRE_DATE, 
            UPD_OPER_ID, UPD_OPER_NAME, UPD_ORG_ID, 
            UPD_DATE)
        values (#{personId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
            #{parentOrgIds,jdbcType=VARCHAR}, #{nameCn,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
            #{employeeNo,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT}, 
            #{roleType,jdbcType=SMALLINT}, #{filePath,jdbcType=VARCHAR}, 
            #{cardNo,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
            #{email,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{seqno,jdbcType=INTEGER}, 
            #{status,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, #{creOperId,jdbcType=VARCHAR}, 
            #{creOperName,jdbcType=VARCHAR}, #{creOrgId,jdbcType=VARCHAR}, #{creDate,jdbcType=TIMESTAMP}, 
            #{updOperId,jdbcType=VARCHAR}, #{updOperName,jdbcType=VARCHAR}, #{updOrgId,jdbcType=VARCHAR}, 
            #{updDate,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.SysPerson" >
        insert into t_sys_person
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="personId != null" >
                PERSON_ID,
            </if>
            <if test="userId != null" >
                USER_ID,
            </if>
            <if test="orgId != null" >
                ORG_ID,
            </if>
            <if test="parentOrgIds != null" >
                PARENT_ORG_IDS,
            </if>
            <if test="nameCn != null" >
                NAME_CN,
            </if>
            <if test="nameEn != null" >
                NAME_EN,
            </if>
            <if test="employeeNo != null" >
                EMPLOYEE_NO,
            </if>
            <if test="roleType != null" >
                ROLE_TYPE,
            </if>
            <if test="isDefault != null" >
                IS_DEFAULT,
            </if>
            <if test="filePath != null" >
                FILEPATH,
            </if>
            <if test="cardNo != null" >
                CARD_NO,
            </if>
            <if test="phone != null" >
                PHONE,
            </if>
            <if test="mobile != null" >
                MOBILE,
            </if>
            <if test="email != null" >
                EMAIL,
            </if>
            <if test="fax != null" >
                FAX,
            </if>
            <if test="seqno != null" >
                SEQNO,
            </if>
            <if test="status != null" >
                STATUS,
            </if>
            <if test="isDeleted != null" >
                IS_DELETED,
            </if>
            <if test="creOperId != null" >
                CRE_OPER_ID,
            </if>
            <if test="creOperName != null" >
                CRE_OPER_NAME,
            </if>
            <if test="creOrgId != null" >
                CRE_ORG_ID,
            </if>
            <if test="creDate != null" >
                CRE_DATE,
            </if>
            <if test="updOperId != null" >
                UPD_OPER_ID,
            </if>
            <if test="updOperName != null" >
                UPD_OPER_NAME,
            </if>
            <if test="updOrgId != null" >
                UPD_ORG_ID,
            </if>
            <if test="updDate != null" >
                UPD_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="personId != null" >
                #{personId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="parentOrgIds != null" >
                #{parentOrgIds,jdbcType=VARCHAR},
            </if>
            <if test="nameCn != null" >
                #{nameCn,jdbcType=VARCHAR},
            </if>
            <if test="nameEn != null" >
                #{nameEn,jdbcType=VARCHAR},
            </if>
            <if test="employeeNo != null" >
                #{employeeNo,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null" >
                #{roleType,jdbcType=SMALLINT},
            </if>
            <if test="isDefault != null" >
                #{isDefault,jdbcType=TINYINT},
            </if>
            <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null" >
                #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="fax != null" >
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="seqno != null" >
                #{seqno,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="creOperId != null" >
                #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creOperName != null" >
                #{creOperName,jdbcType=VARCHAR},
            </if>
            <if test="creOrgId != null" >
                #{creOrgId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null" >
                #{creDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updOperId != null" >
                #{updOperId,jdbcType=VARCHAR},
            </if>
            <if test="updOperName != null" >
                #{updOperName,jdbcType=VARCHAR},
            </if>
            <if test="updOrgId != null" >
                #{updOrgId,jdbcType=VARCHAR},
            </if>
            <if test="updDate != null" >
                #{updDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.SysPerson" >
        update t_sys_person
        <set >
            <if test="userId != null" >
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                ORG_ID = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="parentOrgIds != null" >
                PARENT_ORG_IDS = #{parentOrgIds,jdbcType=VARCHAR},
            </if>
            <if test="nameCn != null" >
                NAME_CN = #{nameCn,jdbcType=VARCHAR},
            </if>
            <if test="nameEn != null" >
                NAME_EN = #{nameEn,jdbcType=VARCHAR},
            </if>
            <if test="employeeNo != null" >
                EMPLOYEE_NO = #{employeeNo,jdbcType=VARCHAR},
            </if>
            <if test="roleType != null" >
                ROLE_TYPE = #{roleType,jdbcType=SMALLINT},
            </if>
            <if test="isDefault != null" >
                IS_DEFAULT = #{isDefault,jdbcType=TINYINT},
            </if>
            <if test="filePath != null" >
                FILEPATH = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null" >
                CARD_NO = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                MOBILE = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="fax != null" >
                FAX = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="seqno != null" >
                SEQNO = #{seqno,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                STATUS = #{status,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null" >
                IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="creOperId != null" >
                CRE_OPER_ID = #{creOperId,jdbcType=VARCHAR},
            </if>
            <if test="creOperName != null" >
                CRE_OPER_NAME = #{creOperName,jdbcType=VARCHAR},
            </if>
            <if test="creOrgId != null" >
                CRE_ORG_ID = #{creOrgId,jdbcType=VARCHAR},
            </if>
            <if test="creDate != null" >
                CRE_DATE = #{creDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updOperId != null" >
                UPD_OPER_ID = #{updOperId,jdbcType=VARCHAR},
            </if>
            <if test="updOperName != null" >
                UPD_OPER_NAME = #{updOperName,jdbcType=VARCHAR},
            </if>
            <if test="updOrgId != null" >
                UPD_ORG_ID = #{updOrgId,jdbcType=VARCHAR},
            </if>
            <if test="updDate != null" >
                UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where PERSON_ID = #{personId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.SysPerson" >
        update t_sys_person
        set USER_ID = #{userId,jdbcType=VARCHAR},
            ORG_ID = #{orgId,jdbcType=VARCHAR},
            PARENT_ORG_IDS = #{parentOrgIds,jdbcType=VARCHAR},
            NAME_CN = #{nameCn,jdbcType=VARCHAR},
            NAME_EN = #{nameEn,jdbcType=VARCHAR},
            EMPLOYEE_NO = #{employeeNo,jdbcType=VARCHAR},
            ROLE_TYPE = #{roleType,jdbcType=SMALLINT},
            IS_DEFAULT = #{isDefault,jdbcType=TINYINT},
            FILEPATH = #{filePath,jdbcType=VARCHAR},
            CARD_NO = #{cardNo,jdbcType=VARCHAR},
            PHONE = #{phone,jdbcType=VARCHAR},
            MOBILE = #{mobile,jdbcType=VARCHAR},
            EMAIL = #{email,jdbcType=VARCHAR},
            FAX = #{fax,jdbcType=VARCHAR},
            SEQNO = #{seqno,jdbcType=INTEGER},
            STATUS = #{status,jdbcType=TINYINT},
            IS_DELETED = #{isDeleted,jdbcType=TINYINT},
            CRE_OPER_ID = #{creOperId,jdbcType=VARCHAR},
            CRE_OPER_NAME = #{creOperName,jdbcType=VARCHAR},
            CRE_ORG_ID = #{creOrgId,jdbcType=VARCHAR},
            CRE_DATE = #{creDate,jdbcType=TIMESTAMP},
            UPD_OPER_ID = #{updOperId,jdbcType=VARCHAR},
            UPD_OPER_NAME = #{updOperName,jdbcType=VARCHAR},
            UPD_ORG_ID = #{updOrgId,jdbcType=VARCHAR},
            UPD_DATE = #{updDate,jdbcType=TIMESTAMP}
        where PERSON_ID = #{personId,jdbcType=VARCHAR}
    </update>
</mapper>