<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nongyeos.loan.admin.mapper.SysPersonorgMapper" >

    <resultMap id="BaseResultMap" type="com.nongyeos.loan.admin.entity.SysPersonorg" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
        <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, PERSON_ID, ORG_ID
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_personorg
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="selectByPersonId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from t_sys_personorg
        where PERSON_ID = #{personId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_sys_personorg
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <delete id="deleteByPersonId" parameterType="java.lang.String" >
        delete from t_sys_personorg
        where PERSON_ID = #{personId,jdbcType=VARCHAR}
    </delete>
    
    <delete id="deleteByOrgId" parameterType="java.lang.String" >
        delete from t_sys_personorg
        where ORG_ID = #{orgId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.nongyeos.loan.admin.entity.SysPersonorg" >
        insert into t_sys_personorg (ID, PERSON_ID, ORG_ID
            )
        values (#{id,jdbcType=INTEGER}, #{personId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.nongyeos.loan.admin.entity.SysPersonorg" >
        insert into t_sys_personorg
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="personId != null" >
                PERSON_ID,
            </if>
            <if test="orgId != null" >
                ORG_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="personId != null" >
                #{personId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                #{orgId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.nongyeos.loan.admin.entity.SysPersonorg" >
        update t_sys_personorg
        <set >
            <if test="personId != null" >
                PERSON_ID = #{personId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                ORG_ID = #{orgId,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.nongyeos.loan.admin.entity.SysPersonorg" >
        update t_sys_personorg
        set PERSON_ID = #{personId,jdbcType=VARCHAR},
            ORG_ID = #{orgId,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>